.idea
/OOP/1609 - class_work - Selenium/_my_pass
/OOP/0709 - class_work-App.Users/users.xlsx
/Telegram/Geo_bot/config.py
/Postgres/homework/config.py
/Postgres/homework231021/231021-postgres.xls
/Postgres/homework231021/config.py
/Postgres/homework311021/config.py
/Telegram/Telegram_mongo_parsing/conf.py
.idea/
/Telegram/Telegram_mongo_parsing/wiki_search.log
/Telegram/Telegram_mongo_parsing/temp.py
/Telegram/Telegram_mongo_parsing/conf.py
